$body-color: #606670;

body {
  color: $body-color;
}

h1 {
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
}

.jour_date {
  font-size: 12px;
}

.form-control {
  margin-top: 10px;
}

.journal_section{
  background-color: #8C9493;
  color: #F1F3F2;
  padding: 20px 0;
}

.journal {
  padding: 10px;
  background-color: #606670;
  border-radius: 5px;
}
.btn{
  background-color: #606670;
  border-color: #606670;
}
.btn:hover{
  background-color: #7C838D;
  border-color: #7C838D;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 122, 37,.5);
}
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle{
  color: #F5F7F5;
  background-color: #DF7A25;
  border-color: #DF7A25;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 122, 37,.5);
}
.btn-danger{
  background-color: #8F5651;
  border-color: #8F5651;
}
.btn-danger:hover{
  background-color: #CF908A;
  border-color: #CF908A;
}
.btn-info{
  background-color: #848B9C;
  border-color: #848B9C;
}
.btn-info:hover{
  background-color: #B9C0D2;
  border-color: #B9C0D2;
}
.form-control:focus {
  //color: #59A5D6;
  background-color: #F5F7F5;
  // border-color: #59A5D6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(81, 142, 182, 0.5);
}

#stickyd-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar-collapse.collapse.in {
  display: block!important;
}